* {
    font-family: "Montserrat", Helvetica;
    list-style-type: none;
}


a {
    text-decoration: none;
    color: black;
}

.header-navigation-logo {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.10px;
    line-height: 20px;
    font-size: 18px;
    font-family: 'Montserrat-Bold', Helvetica;
}

.header-navigation-logo-italic {
    font-style: italic;
}

.hero-banner {
    background-image: url(/images/hero.jpg);
    width: 1136px;
    height: 600px;
    background-size: contain;
    border-radius: 20px;
}
h1{
    font-weight: 500;
        font-size: 28px;
        line-height: 1.21;
        letter-spacing: -0.03em;
        color: #FAFAFA;
}
